
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body{
	background-color: #ccc;
}
a{
	text-decoration: none;
}
.main-wrapper{
	margin: 0 auto;
	width: 1100px;
}
header img{
	position: fixed;
	height: 59px;
	width: 120px;
	top: 1px;
	left: 2px;
}
header nav{
	width: 100%;
	height: 60px;
	background-color: black;
}
header nav ul{
	float: left;
}
header nav ul li{
	text-align: center;
	list-style: none;
	float: left;
	display: block;
	border:1px solid white;
	color: white;
	background-color: black;
	width: 100px;
	height: 59px;
}

header nav ul li:hover{background-color: grey;}
header nav ul li .an{
	font-family: arial;
	align-self: center;
	z-index: 1;
	font-size: 18px;
	letter-spacing: 2px;
	padding-left: 15px;
	padding-right: 5px;
	color: white;
	width: 100px;
	height: 59px;
	display: block;
	line-height: 63px;
}
header nav ul .an1{
	padding: 0px;
	font-family: arial;
	text-align: center;
	border: solid 5px black; 
	font-size: 16px;
	color: white;
	background-color: black;
	display: block;
	z-index: 555;	
}
header nav ul img{
	height: 50px;
	position: absolute;
	top: 4px;
	margin-left: 2px;
	border: solid 5px red;
	border-radius: 10px;
}
header .nav-login{
	float: right;
	text-align: center;
	position: absolute;
	right: 20px;
}
header .nav-login .para{
    color: white;
    font-size: 23px;
    position: relative;
    float: left;
    margin-top: 3px;
    top: 15px;
    left: 220px;
    padding-right: 250px;
    right: 250px;
}
header .nav-login form{
	float: right;
	padding-top: 15px;
}
header .nav-login form input{
	float: left;
	width: 150px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 15px;
	background-color: #ccc;
	border: none;
	 font-family: arial;
	font-size: 20px;
	color: #111;
	line-height: 30px;
}
header .nav-login form button{
	float: left;
    width: 110px;
    height: 30px;
    margin-right: 10px;
    background-color: #209e20;
    border: none;
    font-family: arial;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 5px 5px grey 0;
}
header .nav-login form button:hover{
 background-color: #ccc;
}
header .nav-login a{
	display: block;
	width: 100px;
	height: 30px;
	float: left;
	border: none;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 30px;
	cursor: pointer;
}
.main-container{
	padding-top: 40px;
}
.main-container h2{
	font-family: arial;
	font-size: 40px;
	color: #111;
	text-align: center;
}
/*sign up*/
.signup-form{
	width: 400px;
	padding-top: 30px;
	margin: 0 auto;
}
.signup-form input{
	width: 100%;
	height: 40px;
	margin: 0 auto;
	padding: 20px 5%;
	margin-right: 10px;
	background-color: #fff;
	border: none;
	font-family: arial;
	font-size: 20px;
	color: #111;
	line-height: 40px;
	margin-bottom: 10px;
}
.signup-form button{

	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	background-color: #222;
	border: none;
	font-family: arial;
	font-size: 16px;
	color: white;
	cursor: pointer;
}
.signup-form button:hover{
	background-color: #111
	}
header .nav-login form .new{
	display: inline-block;
	background-color: #3d3d79;
	width: 100px;
	text-align: center;
	color: white;
	border-radius: 5px;
	font-size: 20px;
}
header .nav-login form .new:hover{
	background-color: #42d8b6;
}
.book button{
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	background-color: #222;
	border: none;
	font-family: arial;
	font-size: 16px;
	color: white;
	cursor: pointer;
}
.book button:hover{
	background-color: #111
	}